---
import Code from 'astro/components/Code.astro'

import Confettis from '../components/ConfettiLauncher.astro'

import AstroLogo from '../assets/astro-icon.svg?raw'
import FlowbiteLogo from '../assets/flowbite-logo.svg?raw'

import * as readMe from '../../README.md'
import { SITE_TITLE } from '../app/constants.js'
---

<div
  class="mb-20 bg-gradient-to-r from-slate-100 to-slate-200 p-4 text-slate-800 shadow-xl shadow-slate-200 dark:from-slate-900 dark:to-slate-800 dark:text-slate-100 dark:shadow-slate-900 lg:p-16"
>


  <article class="flex justify-center pb-32 pt-32">
    <div class="readme format w-full dark:format-invert lg:format-lg">
      <h1 class="text-center">
    
        {SITE_TITLE}
      </h1>
      <readMe.Content />
    </div>
  </article>
</div>

<style>
  /* Override in Markdown H1 title */
  .readme :global(h1:nth-of-type(2)) {
    display: none;
  }

  .svg-inline :global(svg) {
    height: 100%;
    width: 100%;
  }
</style>
