---
import BlessingStat from '$components/BlessingStats'
import LayoutStacked from '../app/LayoutStacked.astro'
---
<LayoutStacked>
  <BlessingStat client:only="react" />

	<div class="personality-type" style="background-color: #FDE68A;"><strong>INTJ</strong> - The Architect</div> 
	<div class="personality-type" style="background-color: #BDE0FE;"><strong>INTP</strong> - The Logician</div> 
	<div class="personality-type" style="background-color: #C8E6C9;"><strong>ENTJ</strong> - The Commander</div> 
	<div class="personality-type" style="background-color: #F4CCCC;"><strong>ENTP</strong> - The Debater</div> 
	<div class="personality-type" style="background-color: #E1BEE7;"><strong>INFJ</strong> - The Advocate</div> 
	<div class="personality-type" style="background-color: #D8BFD8;"><strong>INFP</strong> - The Mediator</div> 
	<div class="personality-type" style="background-color: #FFF0A5;"><strong>ENFJ</strong> - The Protagonist</div> 
	<div class="personality-type" style="background-color: #B0E0E6;"><strong>ENFP</strong> - The Champion</div> 
	<div class="personality-type" style="background-color: #D3D3D3;"><strong>ISTJ</strong> - The Logistician</div> 
	<div class="personality-type" style="background-color: #F08080;"><strong>ISFJ</strong> - The Defender</div> 
	<div class="personality-type" style="background-color: #90EE90;"><strong>ESTJ</strong> - The Executive</div> 
	<div class="personality-type" style="background-color: #DDA0DD;"><strong>ESFJ</strong> - The Consul</div> 
	<div class="personality-type" style="background-color: #FFA07A;"><strong>ISTP</strong> - The Virtuoso</div> 
	<div class="personality-type" style="background-color: #A9A9A9;"><strong>ISFP</strong> - The Adventurer</div> 
	<div class="personality-type" style="background-color: #FFA07A;"><strong>ESTP</strong> - The Entrepreneur</div> 
	<div class="personality-type" style="background-color: #B0E0E6;"><strong>ESFP</strong> - The Entertainer</div> 


	
</LayoutStacked>
